body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 20px 0 20px 30px;
  background-color: white;
}

#logo {
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
}

#logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

main {
  width: 80%;
  margin: 40px auto 20px auto;
  background-color: white;
  height: 400px;
  border-radius: 5px;
}

.container-main {
  padding-left: 30px;
  padding-top: 10px;
}

#button-one {
  background-color: rgb(3, 117, 174);
  color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

#button-two {
  color: gray;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 3px;
}

.tasks {
  border-top: 2px solid lightgray;
  margin-top: 10px;
  padding-top: 20px;
}

.task {
  margin-bottom: 20px;
}

.description-task {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.check-task, .cross-task {
  display: inline-block;
  color: green;
  display: inline-block;
  border: solid 1px green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 10px;
}

.cross-task {
color: red;
border: 1px solid red;
}

.edit, .goals, .recruit, .mobile {
  color: white;
  width: 70px;
  height: 20px;
  display: inline-block;
  background-color: rgb(3, 117, 174);
  text-align: center;
  border-radius: 12px;
  margin-left: 5px;
  font-size: 12px;
}

.goals {
  background-color: rgb(127, 5, 175);
}

.recruit {
  background-color: rgb(7, 186, 129);
}

.mobile {
  background-color: rgb(198, 113, 9);
}